@model Artiekel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Artiekel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Potmaat" class="control-label"></label>
                <input asp-for="Potmaat" class="form-control" />
                <span asp-validation-for="Potmaat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planthoogte" class="control-label"></label>
                <input asp-for="Planthoogte" class="form-control" />
                <span asp-validation-for="Planthoogte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kleur" class="control-label"></label>
                <input asp-for="Kleur" class="form-control" />
                <span asp-validation-for="Kleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productgroep" class="control-label"></label>
                <input asp-for="Productgroep" class="form-control" />
                <span asp-validation-for="Productgroep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
